body {
    background-image: url(fondo02.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 2000px, 2000px;
    
}


body {
    margin: 0;
    padding: 0;
    background-color: rgb(37, 50, 58);
}

.titulo-principal h1{
    text-align: center;
    color: rgb(223, 223, 223);
    font-size: 60px;
}

form {
    display:flex;
    padding: 10px 850px 0;
    
}


label {
    margin-bottom: 5px;
    color: rgb(218, 206, 206);
    font-size: 40px;
}

img {
    border-radius: 10%;
   height: 250px;
   width: 250px;
   padding: 10px 850px 0;
}

.imagen button{
    
}